div.backup-full {
  float: left;
  width: 300px;
  margin: 4px 8px 4px 8px;
  text-align: center;
}
div.backup-name {
  float: left;
  width: 60px;
  margin: 4px 4px 4px 4px;
}
div.backup-value {
  float: left;
  width: 240px;
  margin: 4px 4px 4px 4px;
}
.backup-submit {
  width: 100px;
}


div.backup-separator {
  float: left;
  height: 40px;
  width: 100%;
}
